body, html {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}
table{font-size: 14px;}
th{color: #999;font-weight: normal;}
th,td{width: 12%}
.content p{color:#999;}